{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        You have been randomly and anonymously
        paired with another participant to play for a game.
        <p>
        Before the games begin,
        one of you will be selected at random to be Decider;
        the other will be Receiver.
        <p>
        In each second period, your role in the first period will be reversed.
        So, you will be both a Decider and a Receiver in every round.
        You will play this game 10 times, each time randomly match with your partner.
        So, in every new round, your partner can be the new one ....
        <p>
        To start, Decider has {{ Constants.endowment_Decider }};
        Receiver has {{ Constants.endowment_Receiver }} .
        Decider will decide which part of {{ Constants.endowment_Decider }} to transfer to the Receiver.
        After that, the roles are reversed and the second period of the round will be started.
        In the second period, who is the Decider now,
        will make a decision about to transfer
        to Receiver.
        After both periods of a round have been finished,
        everybody will be informed about the transfer
        which made to them and their earnings in that round.
        Earnings in points in a round will be determined
        by the product of the final value
        when Decider with the final value when Receiver: EB x EO.
        (The earnings in money will be determined
        by multiplying the amount stated in points by 0,5₺.)

    </p>
</div>
</div>
